<%- include('../../partials/head') %>
<%- include('../../partials/navbar')  %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-title">
                <h2 class="text-center mt-2">Cadastro de artigo</h2>
                <hr>
            </div>
            <div class="card-body">
                <form action="" method="">
                    <input class="form-control" type="text" name="title" placeholder="Defina o artigo"><br>
                    <textarea id="article" name="body" class="form-control" placeholder="Escreva seu texto aqui"></textarea>
                    <select name="category" id="article-dropdown" class="form-control mt-4">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id  %>"><%= category.title  %> </option>
                        <% }) %>
                    </select>
                    <button class="btn btn-success mt-4">Salvar</button>
                </form>
            </div>
        </div>        
    </div>
<%- include('../../partials/footer'); %>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/js/article-tiny.js"></script>