<%- include('../../partials/head') %>
<%- include('../../partials/navbar')  %>
    <div class="container mt-4">
        <h2 class="inline">Categorias</h2>
        <a class="btn btn-success m-3" href="/admin/categories/new">Criar nova categoria</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <th> <%= category.id %> </th>
                        <th> <%= category.title %> </th>
                        <th> <%= category.slug %> </th>
                        <th>
                            <a href="/admin/categories/edit/<%= category.id %> " class="btn btn-warning">Editar</a>
                            <form method="POST" action="/categories/delete" class="inline deleteCategory">
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>                            
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>        
    </div>
<%- include('../../partials/footer'); %>